* {
    box-sizing: border-box
}

.carousel-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: teal;
    font-weight: bold;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*caption on the slides*/
.text {
    color: rgb(176, 194, 165);
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;

}

.activeSlide {
    display: block
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.hero {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero button {
    width: 30vw;
    height: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: rgb(63, 58, 58);
    text-shadow: 1px 1px 2px #333;
    background-color: white;
    border-radius: 2px;
    border-style: none;
    transition: all 0.3s
}

.hero button:hover {
    transform: rotate(-15deg);
    background-color: teal;
    color: white;
    padding-bottom: 2rem;
    cursor: pointer;
    box-shadow: 10px 11px 36px #000000;
}

.hero button:active {
    transform: rotate(-15deg);
    background-color: teal;
    color: white;
    padding-bottom: 2rem;
    cursor: pointer;
    box-shadow: 6px 6px 13px #000000;
    border: none;
}

button:focus {
    outline: none;
}