.mainframe {
    height: 80vh;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.mainframe .left {
    min-width: 30vw;

}


.mainframe .right {
    padding: 5rem;

}